@model AdWorks.MVC.Models.PizzaViewModel

@{
}

@using(@Html.BeginForm())
{
@Html.ValidationMessageFor(m => m.Name)
 @Html.LabelFor(m => m.Name)
 @Html.TextBoxFor(m => m.Name)


 @Html.LabelFor(m => m.Sizes.Small)
 @Html.RadioButtonFor(m => m.Sizes.Small, "Size")
 @Html.LabelFor(m => m.Sizes.Small)
 @Html.RadioButtonFor(m => m.Sizes.Medium, "Size")
 @Html.LabelFor(m => m.Sizes.Small)
 @Html.RadioButtonFor(m => m.Sizes.Large, "Size")

 @Html.LabelFor(m => m.Toppings.Pineapple)
 @Html.CheckBoxFor(m => m.Toppings.Pineapple, "ToppingList")
 @Html.LabelFor(m => m.Toppings.Vegan)
 @Html.CheckBoxFor(m => m.Toppings.Vegan, "ToppingList")
 @Html.LabelFor(m => m.Toppings.BBQ)
 @Html.CheckBoxFor(m => m.Toppings.BBQ, "ToppingList")

 <!--
 <label>@Model.Sizes.Small</label>
 <input type="radio" name="Size" id="" value="@Model.Sizes.Small">
 <label>@Model.Sizes.Medium</label>
 <input type="radio" name="Size" id="" value="@Model.Sizes.Medium">
 <label>@Model.Sizes.Large</label>
 <input type="radio" name="Size" id="" value="@Model.Sizes.Large">
 -->

 <label asp-for="Sizes.Small"></label>
 <input asp-for="Size" type="radio" value="Sizes.Small">

 <button type="submit">Submit Your Order</button>
}
